
*{

	margin: 0px;
	padding: 0px;

}


body {

	overflow-x: hidden;
	background-color: white;


}


header {


	border-style: solid;
	border-color: black;

	width: 100%;
	height: 110px;

	background-color: #b0c5e8;	


}

header img {


	height: 100px;
	width: 80px;
	margin-top: 9px;
	margin-left: 10px;	
}




input[type=search]{

	position: absolute;

	margin-left: 70px;
	
	height: 60px; 
	width: 300px;

	background-color: #e0e1e2;

	border-radius: 5px;

	margin-top: 30px;

	color: black;
	font-size: 16px;

}

#search_icon {

	height: 60px;
	width: 70px;
	position: absolute;
	margin-left: 370px;
	margin-top: 30px;

}




#logOut_div{	

	border-style: solid;
	border-color: black;

	position: relative;
	width: 150px;
	
	margin-right: 87px;
	margin-top: 30px;

	display: inline-block;
	
	float: right;

	position: inherit;

}




#upload_span {

	width: 200px;
	height: 55px;	


	display: inline;
	border-style: solid;
	border-color: black;

	margin-left: 800px;

	position: absolute;

	margin-top: 10px;
	padding-left: 10px;
	padding-top: 25px;

	border: dashed;


}








header p {

	float: right;
	font-size: 25px;
	margin-right: 25px;

	color: black;

}


#notes_div {

	height: 750px;
	scroll-behavior: auto;
	width: 800px;

	border-style: solid;
	border-color: black;

	margin-top: 70px;

	border-radius: 10px;



}

#notes_div span {

	border-style: solid;
	border-color: green;
	position: absolute;

}













