
* {

	margin: 0px;
	padding: 0px;
	
}



body {

	background-color: #e5e4dc;


}

.error {

	color: red;
	font-size: 18px;
	position: relative;

}

header {

	background-color: #3a3e44;
	width: 100%;
	height: 130px;
	position: relative;

}


.header_btn {


	color: white;
	font-size: 25px;
	float: right;

	border-style: solid;
	border-color: white;

	padding-left: 10px;
	padding-right: 10px;

	margin-right: 20px;
	margin-top: 40px;

	position: relative;

	cursor: pointer;

}


#header_greeting {

	color: white;
	font-size: 27px;
	position: absolute;
	bottom: 0px;
}



#msg {


	border-style: solid;
	border-color: black;

	width: 40%;
	height: 170px;

	margin-left: 600px;
	margin-top: 40px;

	background-color: #b3bfd1;

}	

#msg p {

	color: white;
	font-size: 18px;

}


#submit_form {


	border-style: dotted;
	border-color: black;

	height: auto;	
	width: 40%;

	margin-top: 50px;
}


.submit_span {


	border-bottom-style: solid;
	border-bottom-color: black;

	position: relative;
}


.submit_span label ,select {

	float: left;
	margin-right: 10px;

}

textarea {

margin-top: 30px;

}

input[type = file]{
	color: red;
	width: 100px;

}

#file_div {

	float: left;
	margin-left: 20px;

	border-style: dotted;
	border-radius: 5px;
	display: inline-block;
	width: 500px;

	

}

#files_selected_div {

	border-style: solid;
	border-color: black;
	border-width: 2px;

	height: auto;


}



input[type = submit]{

	margin-top: 10px;
	margin-bottom: 5px;

	border-style: solid;
	border-color: black;
	
	height: 35px;
	width: 170px;
	
	background-color: #b3bfd1;

	font-size: 20px;

	color: black;

}

























